*{
    margin: 0;/*para tener*/
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #94D2BD;
    background-image: url('https://i.pinimg.com/736x/d4/64/8f/d4648fd4f392749a05ae8a84650194c0.jpg');
}

.section_main{
    margin: auto;/*pone margen automatica de formas iguales por todos los lados*/
    margin-top: 10%;/*para que se separe de arriba*/
    height: 400px;/*alto*/
    width: 450px;/*ancho*/
    border-radius: 5px;
}
.section_main h2{
    font-size: 50px;/*para darle el tamano al texto*/
    margin-bottom: 20px;
    text-align: center;/*para centrar unicamente texto*/
    display: block;
    color: white;
    margin-bottom: 50px;
}
.section_main h4{
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    margin-left: 25px ;
}
.content_section-main{
    padding: 40px 0; /*el pading sirve para rellenar*/
    width: 450px;/*ancho*/
    background-color: #005F73;
    border-radius: 20px;
    text-align: center;
}
.formulario_section-main{
    font-size: 14px;
    display: block;/*lo creamos como bloque*/
    margin-left: 20px;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 0;
    padding-left: 10px;
}
.bttn{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.record_section_main{
    display: flex;
    gap: 10px;
    margin-left: 25px;
    color: white;
}
.link_section-main{
    text-decoration: none;
    color: #ffffff;
}
