.major-title_seccion-main{
    padding: 60px 0;
    text-align: center;
    color: #005F73;

    font-weight: bold;
    font-size: 30px;

    background-size: cover;
    background-position: center;
    background-image: url(https://ageingnomics.fundacionmapfre.org/media/2022/06/familia-amigos-motor-1366x676-1.jpg);
}

.sugerencias_seccion-main{
    padding: 20px;
    background-color: #94D2BD;
    justify-content: center;
}

/* Usuarios dento de la seccion sugerencias*/

.usuarios_sugerencias_section-main{
    display: flex;
    gap: 20px;
    justify-content: center;
}


.title_section-main{
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    width: 350px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #001219;
    font-size: 30px
}


/* Usuarios de la seccion sugerencias */

.subtitle_content_section-main{
    text-align: center;
    font-size: 20px;
}

/* imagenes de los usuarios */

.img_sugerencias_section-main{
}

.imagen-usuario_section-main{
    width: 250px;
}

.content_sugerencias_section-main{
    margin-top: 10px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 30px;
}

.content_sugerencias_section-main h5{
    font-size: 18px;
    margin-bottom: 10px;
}

.content_sugerencias_section-main p{
    border-radius: 5px;
    margin: 8px 0;
    background-color: #00607360;
    padding: 10px;
}

.bttn{
    display: block;
    width: 100%;
    margin: 10px 0;
}