.bttn{
    color: #F5F3F4;

    font-size: 16px;
    padding: 8px;

    border-radius: 8px;

    border-color: #001219;
    background-color: #0A9396;

    border-bottom-style:solid;
}

.bttn:hover{
    background-color: #005F73;
}