/* Caja de mensaje, es la que se abre al darle al boton (chat) */
.box_mnsj {
    display: flex;
    background: #0000.3;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}
/* ubicacion de la caja de mensajes y una q otra modificacion*/
.modal {
    background:#CCC;
    width: 1000px;
    height: 500px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 0;
}
/* boton cerrar de cuando se abre el chat*/
.cerrar{
        color: #001219;
        padding: 5px;
        text-decoration: none;
        font-size: 20px;
        background: transparent;
        border: 0;
        box-sizing: border-box;
        display: flex;
        margin-top: -30px;
        margin-left: 97%;     
}
.cerrar:hover{
    color: #fff;
    background-color: #005F73;
    padding: 5px;
    border-radius: 10px;
    transition: color 150ms ease-in;
    transition: background-color 150ms ease-in; 
}
/* funcion, esta es llamda en JavaScript se encarga de abrir la ventanita del chat y mostrarla*/
.show {
    pointer-events: auto;
    opacity: 1;
}
/* letra de chat en el mensaje xD*/
.chat {
    background: #005F73;
    border: 5px solid #0008 ;
    border-width: 2px;
    border-radius: 10px;
    width: 50%;
    box-sizing: border-box;
    margin: 10px 0 0 5px;
}
/* este es el fondo en donde estan las personas o lo chats de las personas */
.fondo_mnsj{
    width: 50%;
    height: 89%;
    background: #0779;
    box-sizing: border-box;
    border-radius: 10px;
    border-bottom: 10px;
    margin: 5px 0 5px 5px;
    
}
/* config del tamaño de cada de los bloques de los chats de las personas */
.personas{
    background: transparent;
    width: 480px;
    height: 50px;
    border-width: 10px;
    border-bottom: 2px solid #000;
    

}
/* config de cada persona, esto es para la ubicacion*/
 .persona1 {
    position: fixed;
    margin: 50px  0 5px 15px;
}
.persona2 {
    position: fixed;
    margin: 120px 0 5px 15px;
}
.persona3 {
    position: fixed;
    margin: 190px  0 5px 15px;
}
.persona4 {
    position: fixed;
    margin: 260px  0 5px 15px;
}
.persona5 {
    position: fixed;
    margin: 330px  0 5px 15px;

}
/* el texto de mensajes*/
.Mensajes {
    background: #0007;
    color: #FFF;
    width: 100px;
    border: 2px solid #000;
    
    position: fixed;
    margin: 15px 0 5px 15px;
}
/* apartado para buscar a las personas, aun falta por terminar las funciones*/
/* .search {
    position: fixed;
    margin-top: 18px;
    margin-left: -200px;
    background: transparent;  
    border: transparent;
    border-bottom: 2px solid #000;
}
/* este es el boton para buscar las personas agregadas, falta por terminar*/
/* .fas{
    height: 20px;
    width: 10px;
    background: #FFF;
    position: fixed;
    box-sizing: border-box;
    margin-top: 18px; 
    margin-left: -30px;   
} */
.cuadro_de_mensajes {
    width: 450px;
    height: 68%;
    position: fixed;
    background: #FFF;
    margin-left: 520px;
    margin-top: 10px;
}
.chat_persona{
    width: 450px;
    height: 10%;;
    position: fixed;
    background: #005F73;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.txt_mensaje {
    background: transparent;
    position: fixed;
    height: 50px;
    width: 390px;
    border: transparent;
    border-bottom: 2px solid #888;
    margin-left: -220px;
    margin-top: 385px;
}


