*{
    margin: 0;
    font-family: sans-serif;
}

.main_navbar{
    padding: 10px;
    background-color: #fff;
}

.ul_main-navbar{
    list-style: none;
    display: flex; /*Flex hace que todos los elementos dentro del contenedor se coloquen uno al lado del otro*/
    justify-content: center; /*justify-content posiciona todos los elementos dentro del padre*/
    align-items: center;
    gap: 35px;
}


.link_main-navbar{
    color: #001219;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;

    transition: color 150ms ease-out;
    transition: background-color 150ms ease-out;
    border-radius: 10px;
}

.link_main-navbar:hover{
    color: #fff;
    background-color: #005F73;
    padding: 5px;
}

.link_main-navbar_user{
    padding-right: 15px;
}

.ubi_main-navbar{

}